146-243/SJSU-DEV-Linux/firmware/243/bin/*
146-243/SJSU-DEV-Linux/firmware/243/obj/*
146-243/SJSU-DEV-Linux/firmware/146/bin/*
146-243/SJSU-DEV-Linux/firmware/146/obj/*
146-243/SJSU-DEV-Linux/firmware/default/bin/*
146-243/SJSU-DEV-Linux/firmware/default/obj/*
146-243/SJSU-DEV-Linux/firmware/default/bin/*
146-243/SJSU-DEV-Linux/firmware/default/obj/*
146-243/SJSU-DEV-Linux/unit_tests/*



cmpe146
**/.gdb_history
**/.DS_Store
**/flash.txt