firmware/243/bin/*
firmware/243/obj/*
firmware/146/bin/*
firmware/146/obj/*
firmware/default/bin/*
firmware/default/obj/*
firmware/default/bin/*
firmware/default/obj/*

cmpe146
**/.gdb_history
**/.DS_Store
**/flash.txt
